<header class="topbar">
  <a class="brand" href="{{ '/' | relative_url }}">MartialArtsPedia</a>

  <nav class="topnav">
    <a href="{{ '/arts/' | relative_url }}">Arts</a>
    <a href="{{ '/topics/' | relative_url }}">Topics</a>
    <a href="{{ '/people/' | relative_url }}">People</a>
    <a href="{{ '/regions/' | relative_url }}">Regions</a>
  </nav>

  <label class="search-box" aria-label="Search site sections">
    <input id="siteSearch" type="search" placeholder="Search arts, people, topics">
  </label>
</header>
